@import "tailwindcss";
@theme {
  /* Single-shade color, generates classes like 'bg-brand', 'text-brand' */
  --color-brand: #02231a; 
  --color-button: #018619;
  --color-darkmode: #02231a;

  /* Color with a scale (100, 200, etc.), generates classes like 'bg-primary-500' */
  --color-primary-500: #007bff;
  --color-primary-600: #0056b3; 
  --color-primary-700: #004085;

  /* You can use any valid CSS color format, including OKLCH for a perceptually uniform scale */
  --color-custom-teal: oklch(0.72 0.11 178);
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fafbf6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

